package {{.GroupID}}.aiagent;

import {{.GroupID}}.aiagent.security.AgentAuthProperties;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.context.properties.EnableConfigurationProperties;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.scheduling.annotation.EnableScheduling;

@SpringBootApplication
@ComponentScan(basePackages = {
    "{{.GroupID}}.aiagent"{{if .HasModule "Shared"}},
    "{{.GroupID}}.shared"{{end}}{{if .HasModule "SQLDatastore"}},
    "{{.GroupID}}.sqldatastore"{{end}}{{if .HasModule "NoSQLDatastore"}},
    "{{.GroupID}}.nosqldatastore"{{end}}
})
@EnableConfigurationProperties(AgentAuthProperties.class)
@EnableScheduling
public class {{.ProjectNamePascal}}AIAgentApplication {

    public static void main(String[] args) {
        SpringApplication.run({{.ProjectNamePascal}}AIAgentApplication.class, args);
    }
}
