{
  "$schema": "https://json-schema.org/draft/2020-12/schema",
  "mcpServers": {
    "{{.ProjectName}}": {
      "command": "java",
      "args": ["-jar", "MCP/target/MCP-1.0-SNAPSHOT.jar"],
      "cwd": "."
    }
  }
}
